.checkout-container {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background: #d9e2ee;
  border-radius: 10px;
}

h2, h3 {
  text-align: center;
}

/* Ensuring labels are clearly visible */
label {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  display: block; /* Makes sure labels appear above the inputs */
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px 0 15px 0;
  padding: 10px;
  font-size: 16px;
  background-color: #eaecee;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* Style improvement for the order button */
.order {
  margin-top: 15px;
  padding: 10px 20px;
  width: fit-content;
  align-self: center; /* Centers the button inside the form */
  background: rgb(2, 209, 2);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
}

.order:hover {
  background: darkgreen;
  color: white;
}
